<div class="central">
  <div class="menu-izquierda">
    <!-- <app-menu></app-menu> -->
  </div>
  <div class="cuerpo-derecho">
    <div class="container-fluid conten-title" >
      <div class="row">
        <div class="col-md-3"><h4><i class="fas fa-users"></i> Lista de apoderados</h4></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="container-fluid conten-table">
      <div class="header-table">
        <div class="mt-2">
          <mat-form-field style="width: 130%;" class="example-full-width">
            <input id="buscador" name="buscador" matInput placeholder="Buscar apoderado">
            <mat-icon matSuffix><span class="material-icons">search</span></mat-icon>
          </mat-form-field>
        </div>
        <div>
          <div class="conten-envio-general"  [routerLink]="['../redactar-comunicado']">
            <span class="material-icons">add_circle_outline</span> &nbsp; Comunicado
          </div>
        </div>
      </div>
      <div class="row conten-data">
        <div class="col-md-12 inferior">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nª</th>
                <th scope="col"><i class="fas fa-camera"></i></th>
                <th scope="col">Estudiante</th>
                <th scope="col">DNI a.</th>
                <th scope="col">Apoderado</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">enviar comunicado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listaData; let i = index">
                <th scope="row">{{i+1}}</th>
                <td><img class="img-student" [src]="data.path_photo_students" alt=""></td>
                <td>{{this.convetirMinuscula(data.name_student)}} {{this.convetirMinuscula(data.firts_name_student)}}</td>
                <td>{{data.DNI_parent}}</td>
                <td>{{this.convetirMinuscula(data.name_parent)}} {{this.convetirMinuscula(data.firts_name_parent)}} {{this.convetirMinuscula(data.last_name_parent)}}</td>
                <td>{{data.email_parent}}</td>
                <td>{{data.phone_number_parent}}</td>
                <td><button class="btn" [routerLink]="['../redactar-comunicado']"><i class="fas fa-pen-square"></i> comunicado</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
