<div class="central">
  <div class="menu-izquierda">
    <!-- <app-menu></app-menu> -->
  </div>
  <div class="cuerpo-derecho">
    <div class="container-fluid m-3" style="background-color:red">
      <div class="row">
        <div class="col-md-3">a</div>
        <div class="col-md-3">b</div>
        <div class="col-md-3">c</div>
        <div class="col-md-3">d</div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 inferior">
          <div class="contenDatai">
            <div class="row">
              <div class="col-md-3 contenItem"><b>Estudiante</b></div>
              <div class="col-md-1 contenItem"><b>DNI</b></div>
              <div class="col-md-3 contenItem"><b>Apoderado</b></div>
              <div class="col-md-5 contenItem"><b>Estado</b></div>
            </div>
            <hr>
            <div class="conten_personal">
              <!-- <div class="row item-data" *ngFor="let data of listaStudent">
                <div class="col-md-3 contenItem"><img class="imgUser" src="{{data.path_photo_students}}" alt="" srcset="">
                  {{convetirMinuscula(data.name_student)}} {{convetirMinuscula(data.firts_name_student)}} {{convetirMinuscula(data.last_name_student)}}
                </div>
                <div class="col-md-1 contenItem">{{data.DNI_student}}</div>
                <div class="col-md-3 contenItem">{{data.name_parent}} {{data.firts_name_parent}} {{data.last_name_parent}}</div>
                <div class="col-md-5 contenItem"><p class="link-success">{{estadoUser(data.status_staff)}}</p></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
