#contenIcon{
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.contenedorDocentes{
  height: 83%;
  width: 102%;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
}
.contenedorDocentes::-webkit-scrollbar{
  height: 7px;
  width: 10px;
}
.contenedorDocentes::-webkit-scrollbar-thumb{
  background: #CCCCCC;
  cursor: pointer;
}
#titleP{
  font-size:17px
}
.img-user{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.center-img{
  margin-top: -10px;
}
.title-list{
  margin-top: 23px;
}
.conten-button{
  display: flex;
}
.btn{
  background:#1B386E;
  margin-right: 5px;
  height: 30px;
  font-size: 15px;
  width: auto;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.central{
  height: 83%;
  width: 95% !important;
  z-index:10;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
}
.card{
  margin-bottom: 2px;
}

.modal-backdrop{
  display: none !important;
}
.call{
  color: #FFF;
}

/* .conten-modal{
  background: rgb(0,0,0,0.5);
  height: 120%;
  width: 100%;
  margin-top: -50%;
  position: absolute;
  z-index: 8000000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-asignacion{
  background:red;
  width:400px;
  height: 200px;
} */
