
<div class="container central">
  <div class="row">
    <div class="col-md-2">
      Lista de Docentes
    </div>
    <div class="col-md-4">
      <mat-form-field style="width: 90%;" class="example-full-width">
        <mat-label>Buscar docente</mat-label>
        <input matInput placeholder="Buscar">
        <mat-icon matSuffix><span class="material-icons">search</span></mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-2">

    </div>
  </div>

  <div class="row" id="contenedorDocentes">
    <div class="col-md-6" *ngFor="let data of listaPersonal; let i=index">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center" id="titleP"><b>Director <i class="fas fa-chalkboard-teacher" style="font-size: 24px;"></i></b></h3>
          <div style="font-size: 15px;"><i id="icon" class="far fa-id-card"></i> José Antonio Rojas</div>
          <div style="font-size: 15px;"><i id="icon" class="fas fa-envelope"></i> joseantonioryste@gmail.com</div>
          <div style="font-size: 15px;"><i id="icon" class="fas fa-mobile-alt"></i> 956226515</div>
          <div style="font-size: 15px;"><i class="fas fa-school"></i> 3 ro B</div>
          <div class="mt-3">
            <a  class="btn btn-dark ml-1" data-toggle="modal" data-target="#exampleModal">nuevo <i class="fas fa-comment-dots"></i></a>
            <a  class="btn btn-info ml-1" >Llamar <i class="fas fa-mobile-alt"></i></a>
          </div>
        </div>
      </div>
    </div>
</div>


