#contenIcon{
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
#contenedorDocentes{
  height: 85%;
  width: 102%;
  overflow: hidden;
  overflow-y: scroll;
}
#contenedorDocentes::-webkit-scrollbar{
  height: 7px;
  width: 10px;
}
#contenedorDocentes::-webkit-scrollbar-thumb{
  background: #F4792C;
  border-radius: 10px;
  cursor: pointer;
}
#titleP{
  font-size:17px
}
.img-user{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.center-img{
  margin-top: -10px;
}
.title-list{
  margin-top: 23px;
}
.conten-button{
  display: flex;
}
.btn{
  background:#1B386E;
  margin-right: 5px;
  height: 30px;
  font-size: 15px;
  width: auto;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.central{
  height: 83%;
  width: 100% !important;
  z-index:10;
}
.card{
  margin-bottom: 2px;
}
.modal-backdrop
{
    opacity:0.9 !important;
}
