<div class="central">
  <div class="menu-izquierda">
    <!-- <app-menu></app-menu> -->
  </div>
  <div class="cuerpo-derecho">

    <div class="row contenform">
      <div class="row centralHead">
      <div class="col-md-6"><div class="title"><h2><i class="far fa-envelope"></i> Redactar comunicado</h2></div></div>
      <div class="col-md-4"><div class="titleV"><h2><i class="fas fa-pager"></i> Datos</h2></div></div>
      <div class="col-md-2">.</div>
    </div>

    <form [formGroup]="formulalrioComunicado">
      <div class="row">

        <div class="col-md-6">

            <mat-form-field style="width: 100%;">
              <mat-label>Comunicado para</mat-label>
              <mat-select formControlName="destinoGrupal">
                <div>
                  <mat-option value="1" (click)="opcion()">Padres en general</mat-option>
                  <mat-option value="2" (click)="opcion()">Docentes en general</mat-option>
                  <mat-option value="3" (click)="opcion()">Docentes tutores</mat-option>
                  <mat-option value="4" (click)="opcion()">Para una persona</mat-option>
                  <mat-option value="5" (click)="opcion()">Grado y secction</mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <div *ngIf="enviaGradoSeccion">
              <mat-form-field class="inputOption">
                <mat-label>Grado </mat-label>
                <mat-select formControlName="grado">
                  <div *ngFor="let data of listaGrado">
                    <mat-option value="{{data.id_grade}}">{{data.grade}}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="inputOption">
                <mat-label>Sección</mat-label>
                <mat-select formControlName="seccion">
                  <div *ngFor="let data of listaSecciones">
                    <mat-option value="{{data.id_section}}">{{data.section}}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group" *ngIf="enviaIndividual">
              <mat-form-field class="input">
                <mat-label>Email</mat-label>
                <input matInput  formControlName="emaildestino">
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="input">
                <mat-label>Asunto</mat-label>
                <input matInput  formControlName="asunto">
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="input">
                <mat-label>Tipo Comunicado</mat-label>
                <input  matInput autocomplete="off"  formControlName="tipo">
              </mat-form-field>
            </div>

            <div class="form-group conteFile">
              <div class="custom-input-file">
                <input  (change)="onFile($event)"  type="file" class="form-control" accept="image/*" formControlName="archivo">
                <p class="letterFile">
                  <span *ngIf="barraCarga; else letra">
                    {{porcentajeSubidaFoto}}%
                  </span>
                  <ng-template #letra>Agregar archivo</ng-template>
                </p>
              </div>
            </div>

            <div class="form-group" *ngIf="true">
              <mat-form-field class="input">
                <mat-label>Contraseña de su cuenta de Gmail registrada</mat-label>
                <input  matInput autocomplete="off" type="password" formControlName="pass">
                <mat-icon  style="cursor: pointer;"  matSuffix><span class="material-icons">visibility</span></mat-icon>
              </mat-form-field>
            </div>

        </div>

        <div class="col-md-6">
          <!--Codigo de de editor-->
          <ngx-wig [content]="text1" formControlName="cuerpo" maxlength="5" (ngModelChange)="verificarLog()"></ngx-wig>

          <div style="float:right;">
            <mat-hint align="end">{{this.formulalrioComunicado.value.cuerpo.length}}/1500</mat-hint>
          </div>

          <div class="form-inline mt-2">
            <button type="button" class="btn"><i class="fas fa-paper-plane"></i> Enviar</button>
            <button data-dismiss="modal" type="button" class="btn"><i class="fas fa-save"></i> Guardar</button>
            <button type="button" class="btn" (click)="cancelarEnvio()">Cancelar</button>
            <button type="button" class="btn" data-dismiss="modal"(click)="insertarHTML()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Vista previa</button>
          </div>

        </div>

      </div>
    </form>

    </div>

</div>


<!--Codigo de ventana modal-->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Vista previa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div #vistaPrevia>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
