<div class="container-fluid central">
  <div class="row">
    <div class="col-md-6">
      <div class="title-tabla">
        <h4><i class="fas fa-user-tie"></i> Asignación de docentes</h4>
      </div>
      <div class="contenDocentes">
        <!-- table-sm -->
        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-1"><i class="fas fa-camera"></i></th>
              <th class="col-sm-4">Docente</th>
              <th class="col-sm-1">Celular</th>
              <th class="col-sm-1">Asignar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listadocentesTutores; let i = index">
              <th>{{i+1}}</th>
              <td (click)="mostrarImgUserSingAgisnar(i)">
                <img class="user-staff" [src]="data.path_photo_staffs" alt="" srcset="">
              </td>
              <td>
                {{convetirMinuscula(data.name_staff)}}
                {{convetirMinuscula(data.firts_name_staff)}}
                {{convetirMinuscula(data.last_name_staff)}}
              </td>
              <td>96564178</td>
              <td>
                <button class="btn"
                (click)="openModalasignacion(data.id_staff, data.grade, data.section, data.status_mentor)">
                  asignar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="title-tabla-asign">
        <h4><button class="btn-actualizar" (click)="actualizarTabla()"><i class="fas fa-undo-alt"></i> actualizar</button></h4>
      </div>
      <div class="contenDocentes">
        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-1"><i class="fas fa-camera"></i></th>
              <th class="col-sm-4">Docentes tutores</th>
              <th class="col-sm-1">Celular</th>
              <th class="col-sm-1">Asignado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listadocentesTutoresAsig; let i = index">
              <th>{{i+1}}</th>
              <td (click)="mostrarImgUser(i)">
                <img class="user-staff" [src]="data.path_photo_staffs" alt="" srcset="">
              </td>
              <td>
                {{convetirMinuscula(data.name_staff)}}
                {{convetirMinuscula(data.firts_name_staff)}}
                {{convetirMinuscula(data.last_name_staff)}}
              </td>
              <td>96564178</td>
              <td><button class="btn btn-sm"
                (click)="openModalasignacion(data.id_staff, data.grade, data.section, data.status_mentor)">
                    {{data.grade}}
                    {{peticion.gradoSegunName(data.grade)}}
                    {{data.section}}
                  </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
