.central{
  z-index: 100;
  width: 95%;
  height: 83%;
  border-radius: 10px;
  background: #FFF;
  overflow: hidden;
  -webkit-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
}
.contenDocentes{
  height: 475px;
  z-index: 50;
  overflow-y: scroll;
}
.user-staff{
  width:50px !important;
  height: 50px !important;
  margin-left: -15px;
  border-radius: 50%;
  cursor: pointer;
}
.contenDocentes::-webkit-scrollbar{
  height: 5px;
  width: 7px;
}
.contenDocentes::-webkit-scrollbar-thumb{
  background: #CCCCCC;
  cursor: pointer;
}
.btn{
  background:#1B386E;
  height: 33px;
  font-size: 15px;
  width: 80px;
  color: #FFF;
}
.btn-actualizar{
  border: none;
  background: none;
  outline: none;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid #000;
}
.item-data{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-data:hover{
  background-color:#d9d6db;
  cursor: pointer;
}
.title-tabla{
  margin: 10px;
  margin-bottom: -5px;
}
.title-tabla-asign{
  display: flex;
  justify-content: flex-end;
}
thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFF;
  border-bottom: 1px solid #E7E6E8;
}
