.contenData{
  height: 550px;
  width: 95%;
  padding: 10px;
  padding-left: 25px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  border-radius: 8px;
  overflow: hidden;
  overflow-y: scroll;
}
.contenData::-webkit-scrollbar{
  height: 7px;
  width: 10px;
}
.contenData::-webkit-scrollbar-thumb{
  cursor: pointer;
}
.imgUser{
  height: 35px;
  width: 35px;
  margin:2px;
  border-radius: 50px;
}
.item-data:hover{
  background-color: antiquewhite;
  cursor: pointer;
}
.btn{
  color: #FFF;
  background: #1B386E;
}
.btna{
  color: #000;
  background: #FFF;
}
.btn-actualizar{
  border: none;
  background: none;
  outline: none;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid #000;
}
.sg{
  display:flex;
  justify-content:center;
  align-items:center;
}
.titleList{
  margin-top: 20px;
}
thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFF;
}
