.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.btn{
  background: #2954A2;
  color: #FFF;
  margin-right: 5px;
}
@media (max-width:760px){
  .card{
    width: 100% !important;
  }
  nav p{
    font-size: 15px;
  }
}
