<!--Codigo para animar el menu-->
<!--(mouseover)="animarMenu()" (mouseleave)="desanimarMenu()"-->
<div *ngIf="verMenu" [@animarMenu]="estadoMenu" class="conten-menu" (mouseover)="animarMenu()" (mouseleave)="desanimarMenu()">
  <div class="colunm" style="color:#FFF">
    <div class="info-user">
      <div class="container content-imguser">
        <img [src]="this.usercurrent.path_photo_staffs" alt="" class="text-center img-user">
      </div>
      <p class="text-center">
        {{this.recortarNombre(this.convetirMinuscula(this.usercurrent.name_staff))}}</p>
    </div>

    <div class="conten-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
      <div class="col-md icon">
        <i class="fas fa-home"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Principal</p>
      </div>
    </div>

    <div class="conten-icon" [routerLink]="['bandeja-salida']" routerLinkActive="activo">
      <div class="col-md icon">
        <i class="fas fa-mail-bulk"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Bandeja</p>
      </div>
    </div>

    <div class="conten-icon" [routerLink]="['control-docente/lista-personal']" routerLinkActive="activo" >
      <div class="col-md icon">
        <i class="fas fa-address-book"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Docentes</p>
      </div>
    </div>

    <div class="conten-icon" [routerLink]="['estudiante/lista-estudiante']" routerLinkActive="activo">
      <div class="col-md icon">
        <i class="fas fa-user-graduate"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Estudiantes</p>
      </div>
    </div>

    <div class="conten-icon" [routerLink]="['lista-padres']" routerLinkActive="activo" >
      <div class="col-md icon">
        <i class="fas fa-users"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Padres</p>
      </div>
    </div>

    <div class="conten-icon" [routerLink]="['mensajes-guardados']" routerLinkActive="activo">
      <div class="col-md icon">
        <i class="fas fa-save"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Mesajes</p>
      </div>
    </div>

    <div class="conten-icon" [routerLink]="['comunicado']" routerLinkActive="activo">
      <div class="col-md icon">
        <i class="fas fa-envelope"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Comunicado</p>
      </div>
    </div>

    <div class="conten-icon" [routerLink]="['configuracion']" routerLinkActive="activo">
      <div class="col-md icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Configuración</p>
      </div>
    </div>

    <div class="conten-icon" (click)="SignOut()">
      <div class="col-md icon">
        <i class="fas fa-sign-in-alt"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Salir</p>
      </div>
    </div>

  </div>
</div>
<div class="fondOscuro" [@oscurecer]="oscurecer"></div>
<!--muestra de registro-->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-newton-cradle" [fullScreen] = "true"><p style="color: white" >{{cargaMensaje}}</p></ngx-spinner>

