.contenedorDocentes{
  height: 83%;
  width: 102%;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
}
.contenedorDocentes::-webkit-scrollbar{
  height: 7px;
  width: 10px;
}
.contenedorDocentes::-webkit-scrollbar-thumb{
  background: #CCCCCC;
  cursor: pointer;
}
.central{
  height: 83%;
  width: 96% !important;
  z-index:10;
  border-radius: 10px;
  margin-top: 15px;
  background: #FFF;
  -webkit-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
}
.title-list{
  margin-top: 23px;
}
