<div class="container-fluid central">
  <div class="row">
    <div class="col-md-3">
      <h4 class="title-list">Lista de respuestas</h4>
    </div>
    <div class="col-md-4">
      <mat-form-field style="width: 90%;" class="example-full-width">
        <mat-label>Buscar formulario</mat-label>
        <input matInput placeholder="Buscar" autocomplete="off" >
        <mat-icon matSuffix><span class="material-icons">search</span></mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
  </div>

  <div class="row contenedorDocentes">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header mt-3">
        Académico
        </div>
        <div class="card-body">
            <h5 class="card-title">Día del Logro</h5>
            <a class="btn btn-light"><i class="fas fa-book me-1"></i>Go somewhere</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            Académico
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-light"><i class="fas fa-book me-1"></i>Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header mt-3">
            Vocacional
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-light"><i class="fas fa-book me-1"></i>Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header mt-3">
            Vocacional
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-light"><i class="fas fa-book me-1"></i>Go somewhere</a>
        </div>
    </div>
    </div>
  </div>
</div>
