<div *ngIf="vistaInterface; else mostrar"  class="central">
  <div class="menu-izquierda">
    <!-- <app-menu></app-menu> -->
  </div>
  <div class="cuerpo-derecho">
    <div class="container-fluid m-3">
      <div class="row">
        <div class="col-md-3"><h4><i class="fas fa-user-graduate"></i> Lista de estudiantes</h4></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
      <div class="conten-data">
        <div class="header-table">
            <mat-form-field style="width: 25%;" class="example-full-width">
              <input id="buscador" name="buscador" matInput placeholder="Nombre del estudiante"
              [(ngModel)]="nombreEstudiante">
              <mat-icon matSuffix><span class="material-icons">search</span></mat-icon>
            </mat-form-field>
        </div>
        <div class="row contenedorEstudiante">
            <div class="col-md-4" *ngFor="let data of listaData | buscarEstudiante:nombreEstudiante; let i=index">
              <div class="card mt-1">
                <div class="card-body">
                  <div class="text-center center-img">
                    <img class="img-user" [src]="data.path_photo_students" alt="" srcset="">
                  </div>
                  <h6 class="text-center" id="titleP">
                    <b>
                      {{this.convetirMinuscula(data.name_student)}} {{this.convetirMinuscula(data.firts_name_student)}} {{this.convetirMinuscula(data.last_name_student)}}</b>
                  </h6>
                  <div style="font-size: 15px;"><i id="icon" class="fas fa-envelope"></i> {{data.email_student}}</div>
                  <div style="font-size: 15px;"><i class="fas fa-school"></i> {{data.grade}} {{this.peticion.gradoSegunName(data.grade)}} {{data.section}}</div>
                  <div style="font-size: 15px;"><i class="fas fa-user-tie"></i>
                    {{this.convetirMinuscula(data.name_parent)}} {{this.convetirMinuscula(data.firts_name_parent)}}
                  </div>
                  <div style="font-size: 15px;"><i id="icon" class="fas fa-mobile-alt"></i> {{data.phone_number_parent}}</div>
                  <div class="mt-3 conten-button text-center">
                    <button (click)="comunicadoEspecifico(data.email_student)"  class="btn" [routerLink]="['../redactar-comunicado']"><i class="fas fa-pen-square"></i> mensaje</button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="mensajeVacio">
              <div class="alert alert-info" role="alert">
                <i class="fas fa-folder-open"></i> No se encontraron apoderados registrados
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #mostrar>
  <app-mensaje-notutor></app-mensaje-notutor>
</ng-template>
