<nav class="navbar navbar-dark bg-dark  navbar-expand-lg fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/logo.png" alt="" width="30" height="30">
          BOP
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <div class="navbar-nav me-auto ms-auto text-center">
        <a class="nav-link active" href="#">Inicio</a>
        <a class="nav-link ms-2" href="#">Nosotros</a>
        <a class="nav-link ms-2" href="#">Contactos</a>
        <a class="nav-link ms-2" href="#">Servicios</a>
      </div>
      <div class="d-flex justify-content-center">
          <a class="btn btn-warning" [routerLink]="['/login']">Login</a>
      </div>
    </div>
  </div>
</nav>


<div id="carouselExampleControl" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active " data-bs-interval="1000">
          <img src="../../../assets/bn1.jpg" class="d-block w-100 " height="auto" alt="">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/bn2.jpg" class="d-block w-100 " height="auto" alt="">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/bn3.jpg" class="d-block w-100 " height="auto" alt="">
      </div>
  </div>
</div>

<section class="container">
  <p class="mt-5 text-center">Hola mundo</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur necessitatibus mollitia nulla,
      possimus vitae aliquid sint,ipsa at harum officia recusandae laboriosam temporibus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque aperiam quae, voluptate eligendi
        sint nemo minus repudiandae ratione nesciunt! Consequatur, similique sequi ex necessitatibus consequuntur
        cumque! Recusandae officia voluptate iusto? Assumenda at eius culpa debitis velit? Unde.</p>
  <p>Hola mundo</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur necessitatibus mollitia nulla,
      possimus vitae aliquid sint,ipsa at harum officia recusandae laboriosam temporibus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque aperiam quae, voluptate eligendi
        sint nemo minus repudiantexdae ratione nesciunt! Consequatur, similique sequi ex necessitatibus consequuntur
        cumque! Recusandae officia voluptate iusto? Assumenda at eius culpa debitis velit? Unde.</p>
  <p>Hola mundo</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur necessitatibus mollitia nulla,
      possimus vitae aliquid sint,ipsa at harum officia recusandae laboriosam temporibus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque aperiam quae, voluptate eligendi
        sint nemo minus repudiandae ratione nesciunt! Consequatur, similique sequi ex necessitatibus consequuntur
        cumque! Recusandae officia voluptate iusto? Assumenda at eius culpa debitis velit? Unde.</p>
  <p>Hola mundo</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur necessitatibus mollitia nulla,
      possimus vitae aliquid sint,ipsa at harum officia recusandae laboriosam temporibus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque aperiam quae, voluptate eligendi
        sint nemo minus repudiandae ratione nesciunt! Consequatur, similique sequi ex necessitatibus consequuntur
        cumque! Recusandae officia voluptate iusto? Assumenda at eius culpa debitis velit? Unde.</p>
  <p>Hola mundo</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur necessitatibus mollitia nulla,
      possimus vitae aliquid sint,ipsa at harum officia recusandae laboriosam temporibus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque aperiam quae, voluptate eligendi
        sint nemo minus repudiandae ratione nesciunt! Consequatur, similique sequi ex necessitatibus consequuntur
        cumque! Recusandae officia voluptate iusto? Assumenda at eius culpa debitis velit? Unde.</p>
</section>

