.central{
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
}
.menu-izquierda{
  height:100%;
  width:80px;
}
.cuerpo-derecho{
  z-index:100;
  height:100%;
  padding: 25px;
  margin-right: 5px;
  width:100%;
}
.superior{
  height:200px;
}
.inferior{
  height:60vh;
}
.contenData{
  height:100%;
  width:100%;
  padding:10px;
  background-color: #FFF;
  border-radius: 5px;
  border: 0.3px solid #CCCCCC;
}
.contenDatai{
  height:100%;
  width:100%;
  padding: 10px;
  padding-left: 25px;
  margin-top: 20px;
  background-color: #FFF;
  border-radius: 5px;
  border: 0.3px solid #CCCCCC;
}

.contenItem{
  margin-top: 5px;
}
/**scroll para lista personal*/
.conten_personal{
  width:100%;
  height:100%;
  margin-top: 20px;
  font-size: 15px;
  background-color: #FFF;
  border-radius: 5px;
  border: 0.3px solid #CCCCCC;
  overflow: hidden;
  overflow-y: scroll;
}
thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFF;
}
.conten_personal::-webkit-scrollbar{
  height: 5px;
  width: 7px;
}
.conten_personal::-webkit-scrollbar-thumb{
  background: #CCCCCC;
  cursor: pointer;
}
.dataUser{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgUser{
  height: 35px;
  width: 35px;
  margin:2px;
  border-radius: 50px;
}
.conten_user{
  display: flex;
  font-size: 15px;
  justify-content: space-around;
  height: 100%;
}
.info_user{
  overflow: hidden;
}
.img_perfil{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.img-config{
  height: 100%;
  width: 100%;
}
.modelInput{
  width: 100%;
}
.btn{
  border: none;
  background-color:#1B386E;
  color:#FFF;
  margin-top: 6px;
  margin-right: 5px;
}
.bottonRegisters{
  float: right;
}
.modal{
  border: none !important;
  z-index: 6000;
}
.modal-content{
  background-color:#E7E6E8;
  border: none !important;
}
.formPassword{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.first-pass{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputPass{
  width: 50%;
}
form{
  padding: 15px;
}
form i{
  font-size: 19px;
}
.link-modal{
  text-decoration: underline;
  cursor: pointer;
}
.listaData li{
  margin-left: -20px;
  text-decoration: none;
  list-style: none;
}
/*codigo para personalizar el choose file*/
.letterFile{
  background:#1B386E;
  height:36px;
  width:164px;
  z-index: 10;
  margin-top: -37px;
  position: absolute;
  border-radius: 3px 0px 0px 3px;
}
.custom-input-file p{
  color:#FFF;
  display: flex;
  padding-top: 6px;
  justify-content: center;
  align-content: center;
}
.btn-update{
  background: #157347;
}
.info-pass{
  color:#2FD44A;
  font-size: 15px;
}
.form-social{
  margin-top: -35px;
}
.conten-pass{
  margin-top: -35px;
}
