<!--Codigo para animar el menu-->
<!--(mouseover)="animarMenu()" (mouseleave)="desanimarMenu()"-->
<div  *ngIf="verMenu"  [@animarMenu]="estadoMenu" class="conten-menu" (mouseover)="animarMenu()" (mouseleave)="desanimarMenu()">
  <div class="colunm" style="color:#FFF">
    <div class="info-user">
      <div class="container content-imguser">
        <img   [src]="this.usercurrent.path_photo_students"  alt="" class="text-center img-user">
      </div>
      <p class="text-center mt-1" style="font-size: 15px;">{{this.recortarNombre(this.convetirMinuscula(this.usercurrent.name_student))}}</p>
    </div>

    <div class="conten-icon" [routerLink]="['perfil-estudiante']">
      <div class="col-md icon">
        <i class="fas fa-home"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Perfil</p>
      </div>
    </div>

    <div class="conten-icon" [routerLink]="['tutoria/carpeta-tutoria']" >
      <div class="col-md icon">
        <i class="fas fa-users"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Tutoría</p>
      </div>
    </div>

    <div class="conten-icon" (click)="SignOut()">
      <div class="col-md icon">
        <i class="fas fa-sign-in-alt"></i>
      </div>
      <div [@iconLetter]="stateIcon" class="letterICon">
        <p [@animateLetter]='animateLetter'>Salir</p>
      </div>
    </div>

  </div>
</div>

<!--muestra de registro-->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1c5890" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Cerrando sesión </p></ngx-spinner>


