<div class="contenModal">
  <div>
    <div class="form-group">
      <h5><i class="fas fa-chalkboard-teacher"></i> Asignar tutoria </h5>
      <div class="form-inline">
        <form [formGroup]="formulario">
          <mat-form-field>
            <mat-label>Grado</mat-label>
            <mat-select formControlName="grado">
              <div *ngFor="let data of listaGrados">
                <mat-option value="{{data.id_grade}}">{{data.grade}}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Sección</mat-label>
            <mat-select formControlName="seccion">
              <div *ngFor="let data of listaSecciones">
                <mat-option value="{{data.id_section}}">{{data.section}}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <div>
            <mat-dialog-actions align="end">
              <button class="btn" mat-button [mat-dialog-close]="true"  [disabled]="formulario.invalid" (click)="guardarCambios()">Guardar</button>
              <button class="btn" mat-button mat-dialog-close>Cancelar</button>
            </mat-dialog-actions>
          </div>
        </form>
    </div>
  </div>
</div>
