<div class="central">
  <div class="menu-izquierda">
    <!-- <app-menu></app-menu> -->
  </div>
  <div class="cuerpo-derecho">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 titleBan"><h2><i class="fas fa-inbox"></i> Lista de mensajes enviados</h2></div>
        <div class="col-md-5">
          <mat-form-field style="width: 90%;" class="example-full-width">
            <mat-label>Buscar comunicado</mat-label>
            <input id="buscador" name="buscador" matInput
            placeholder="Digite el asunto del comunicado" [(ngModel)]="asuntoBusqueda" >
            <mat-icon matSuffix><span class="material-icons">search</span></mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <div class="contenedorBandeja" style="background:#FFF;">
      <div class="row">
        <div *ngIf="vistaMensaje" style="margin-left:10px; margin-top: 10px" class="alert alert-info" role="alert">
          <i class="fas fa-folder-open"></i> Lista de comunicados enviados vacios
        </div>
        <div class="col-md-4" *ngFor="let data of listaComunicados | buscarComunicados:asuntoBusqueda; let i=index">
            <div class="mt-3">
              <div class="card">
                <div class="headerMessage">
                  <div class="userEnviador">
                      <i style="margin-top: -10px; font-size: 20px;" class="fas fa-envelope"></i>
                      <p style="margin-top: 10x; margin-left: 4px;">{{data.affair}}</p>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="text-center texto" style="font-size:23px;">{{data.type_communique}}</h6>
                  <div class="info-message">
                    <span class="badge bg-success">Fecha de envio: </span>
                    <b><p style="margin-top: 18px;"> &nbsp;{{data.date}}</p></b>
                  </div>
                </div>
                <button (click)="verMensaje(i)" class="btn" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"><span>Mas información</span> <i class="fas fa-chevron-circle-right"></i></button>
                </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!--Codigo de ventana modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Vista previa
          <button class="print-comunicado"
          [useExistingCss]="true"
          printSectionId="comunicado"
          ngxPrint><i class="fas fa-print" title="Imprimir formularios"></i> Imprimir</button>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="height: auto" id="comunicado">
        <div class="comunicado" style="margin: 0 auto; height:auto; margin-top: 10px;">

          <div style="width:85%; margin: 0 auto; margin-bottom: 5px; height:5px; background:#1B386E"></div>
            <div style="display: flex; justify-content: center; align-items: center;">
              <img style=" width: 70%; margin: 1.5% auto; text-align: left" src="https://i.postimg.cc/ZKJ9xQH3/belen3.png">
            </div>
            <div style="width:85%; margin: 0 auto; justify-content: center;">
              <h5 style="display: flex; justify-content: center; align-content: center; margin: 10px;">
                {{asuntoComunicado}}
              </h5>
              <div #cuerpoMensaje></div>
            </div>

            <div style="width:80%; height:auto;
            margin: 0 auto; text-align:justify;
            background-color: rgb(255,255,255,0.8);" #vistaPrevia>
            </div>
          <div style="width:85%; margin: 0 auto; margin-bottom: 20px; margin-top: 50px; height:60px; background:#1B386E"></div>
        </div>
      </div>
    </div>
  </div>
</div>
