<div class="central">
  <div class="menu-izquierda">
    <!-- <app-menu></app-menu> -->
  </div>
  <div class="cuerpo-derecho">
    <div class="container-fluid">
      <br>
      <div class="row">
        <div  class="col-md-6 mt-3" style="font-size: 19px;">

        </div>
        <div id="contenIcon" class="col-md-1" title="Lista docentes" [routerLink]="['lista-personal']" routerLinkActive="activo">
            <p class="titleTeachers">Lista</p>
        </div>
        <div id="contenIcon" class="col-md-1" title="Lista docentes tutores">
            <p class="titleTeachers">Tutores</p>
        </div>
        <div id="contenIcon" class="col-md-1" title="Agregar nuevo docente" [routerLink]="['registro-docente']" routerLinkActive="activo">
            <p class="titleTeachers">Agregar</p>
        </div>
        <div id="contenIcon" class="col-md-1" >
            <p class="titleTeachers">Comunicado</p>
        </div>
        <div id="contenIcon"  class="col-md-2">
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>




