<div class="container">
  <div>
    <div>
      <p class="text-center texto">Not found Page - 404</p>
    </div>
    <div class="text-center conten-img">
      <div class="text-center cubrir">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime inventore dignissimos illum labore unde, at nisi quisquam! Maxime rerum tempora natus incidunt,
        autem ea perspiciatis similique laboriosam? Nam, perspiciatis architecto.
      </div>
      <img class="img-belen" src="../../../assets/notFound.svg" alt="">
    </div>
  </div>
</div>
