
.contenedor{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B386E;
  /* background-image: url(../../../assets/fondoPrincipal.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(255,255,255,0.2); */
}

.central {
  height:400px;
  width:50%;
  display: flex;
  justify-content:center;

}
.form-inline{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn{
  width:50%;
}

img{
  height:400px;
  width:400px;
}

.imglogin{
  display: flex;
  justify-content: center;
}

.form{
  background-image: url(../../../assets/seniora.png);
  background-repeat: none;
  background-size:100% 100%;
  width:50%;
  color:#FFF;
  border-radius: 5px;
}
form{
  background:rgb(255,255,255,0.6);
  width:100% !important;
  height:100% !important ;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.input{
  width:100%;
  color: #000;
}
.custom{
  color: #FFF;
}
.head{
  height:8px;
  width:100%;
  background:#2954A2;
  border-radius: 5px 5px 0px 0px;
}
.icon{
  font-size:20px;
}
@media (max-width:760px){
  .form{
    width: 100%;
  }
  .central{
    width:100%;
  }
}
