
.central{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-izquierda{
  height:100%;
  width:70px;
}
.cuerpo-derecho{
  height:100%;
  width:100%;
}

