
.central{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-izquierda{
  height:100%;
  width:70px;
}
.cuerpo-derecho{
  height:100%;
  width:100%;
}
#contenIcon{
  box-shadow: none;
  outline: none;
  justify-content: center;
  align-items: center;
  height: 27px;
}
#contenIcon:hover{
  border-bottom:2px solid #08324C;
}
.activo{
  border-bottom:2px solid #08324C;
}
